напоминай себе цель и ограничение поставленные пользователем
если надо что то менять в других проектах(вне цели) то спроси у пользователя
для компиляции проекта используй: "dotnet build"
для запуска проекта используй: "dotnet run"
если пользователь просит что то сделать просто сделай максимально точно
тесты не пиши!!!, если пользователь просит тесты, то напиши их